<!doctype html>
<html ng-app='thSample'>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bottstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bottstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  </head>
  <body style="padding: 100px;" ng-controller="MountsController">
    <h1>{{title}}</h1>
    <button ng-click="addMount()" class="btn btn-primary">Добавить Вершину</button>
    <table class="table">
      <tr>
        <th>Вершина</th>
        <th>Высота</th>
      </tr>
      <tr ng-repeat="mount in mounts">
        <td>{{mount.title}}</td>
        <td>{{mount.alt}}</td>
      </tr>
      <script src="mounts_controller.js" type="text/javascript"></script>
  </body>
</html>
